@font-face {
  font-family: 'Fuse';
  font-style: normal;
  font-weight: normal;
  src: local('Fuse'), url(./assets/Fuse-Regular.otf)  format('otf');
  }

  @font-face {
    font-family: 'Torch';
    font-style: normal;
    font-weight: normal;
    src: local('Torch'), url(./assets/Torch-Regular.woff)  format('woff');
    }

.App-header {
  background-image: radial-gradient( circle, #254A7D, #254674, #253E62);
  /* background-color: #253E62; */
  height: 100vh;
}

.Nav-Header p{
  color: white;
  font-size: 1.4em;
  letter-spacing: 4px;
  font-family: 'Torch';
}

.Nav-Header .SignUp{
  font-size: 0.9em;
  color: white;
  font-family: 'Fuse';
}

.Nav-Header .Nav-Items{
  font-size: 0.95em;
  color: #4975B6;
  font-family: 'Fuse';
}

.Nav-Header .Post-Btn {
  text-transform: uppercase;
  font-family: 'Fuse';
  color: white;
  padding: 8px;
  letter-spacing: 1px;
  font-size: 13px !important;
  background-color: #FA6A8C !important;
  width: 120px !important;
  border: 0px;
  border-radius: 100px;
  transition: all 0.5s ease-in-out;
}

.Main-Header h1{
  color: white;
  font-size: 3.3em;
  letter-spacing: 2px;
  font-family: 'Fuse';
  font-weight: 500;
  margin-top: 1.2rem;
}

.Main-Header .SignUp-Btn{
  text-transform: uppercase;
  font-family: 'Fuse';
  color: white;
  padding: 10px;
  letter-spacing: 1px;
  font-size: 15px !important;
  background-color: #FA6A8C !important;
  width: 120px !important;
  border: 0px;
  border-radius: 100px;
  transition: all 0.5s ease-in-out;
}

/* The device with borders */
.smartphone {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 340px;
  height: 285px;
  border: 13px white solid;
  border-top-width: 60px;
  border-bottom-width: 0px;
  border-radius: 36px 36px 0 0;
}

.smartphone:before {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
}

/* The screen (or content) of the device */
.smartphone .content {
  height: 225px;
  background: white;
}

@media screen and (max-width: 800px) {
  .App-header {
    height: 100%;
  }

  .smartphone {
    position: relative !important;
    width: 250px;
    height: 220px;
  }

  .smartphone .content {
    height: 160px;
  }
}